src/main/resources/wsdl-bk/PROD/DocumentImport.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:typens="urn:Ariba:Sourcing:vrealm_50306"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="DocumentImport" targetNamespace="urn:Ariba:Sourcing:vrealm_50306">
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:Ariba:Sourcing:vrealm_50306"
                    xmlns:typens="urn:Ariba:Sourcing:vrealm_50306">
            <xsd:element name="Headers">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element maxOccurs="1" minOccurs="0" name="variant" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="partition" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DocumentImportRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element minOccurs="0" name="WSDocumentInputBean_Item">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="item" type="typens:WSDocumentInputBean"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                    <xsd:attribute name="partition" type="xsd:string"/>
                    <xsd:attribute name="variant" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DocumentImportReply">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element minOccurs="0" name="WSDocumentOutputBean_Item">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="item" type="typens:WSDocumentOutputBean"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                    <xsd:attribute name="partition" type="xsd:string"/>
                    <xsd:attribute name="variant" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="WSDocumentInputBean">
                <xsd:all>
                    <xsd:element name="Action" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Project Action import type.  It can be either 'Create' or 'Update'.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Contents" type="xsd:base64Binary">
                        <xsd:annotation>
                            <xsd:documentation>Document contents, base64 encoded.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DocumentId" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Specifies the document ID for the document, such as Doc1234. If the Action is Create, do not specify a value (the web service ignores any value specified); if the Action is Update, specify the ID of the document to be updated. You must specify a value for DocumentId or DocumentName.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DocumentName" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Specifies the document name. If the Action is Create, specify the name for the new document. If the Action is Update, specify the name of the document to update. If you are updating a document, identify the document by specifying the DocumentName and the WorkspaceId. Alternatively, identify the document using the document ID (specified in the UI). </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="1" name="OnBehalfUserId" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Specifies the user ID of the user for whom the Ariba web service will perform the action. User id on whose behalf the changes are made.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="OnBehalfUserPasswordAdapter" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Specifies the password adapter to authenticate the user in the OnBehalfUserId element.  If you are not using a custom password adapter, you can omit this element or leave the value unspecified and the web service will use the default password adapter.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="WorkspaceId" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Specifies the workspace ID of the project containing this document.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="WSDocumentOutputBean">
                <xsd:all>
                    <xsd:element name="DocumentId" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Document Id. E.g., Doc1234</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ErrorMessage" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Message returned from the service execution.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Status" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:documentation>Return status. 0 indicates success.Status code returned from the service execution.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:all>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="HeadersMessage">
        <part element="typens:Headers" name="header"/>
    </wsdl:message>
    <wsdl:message name="DocumentImportRequestMessage">
        <part element="typens:DocumentImportRequest" name="body"/>
    </wsdl:message>
    <wsdl:message name="DocumentImportReplyMessage">
        <part element="typens:DocumentImportReply" name="body"/>
    </wsdl:message>
    <wsdl:portType name="DocumentImportPortType">
        <wsdl:operation name="DocumentImportOperation">
            <wsdl:input message="typens:DocumentImportRequestMessage"/>
            <wsdl:output message="typens:DocumentImportReplyMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DocumentImportBinding" type="typens:DocumentImportPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="DocumentImportOperation">
            <soap:operation soapAction="/Process Definition"/>
            <wsdl:input>
                <soap:header message="typens:HeadersMessage" part="header" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="typens:HeadersMessage" part="header" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DocumentImport">
        <wsdl:documentation>Ariba Web Service</wsdl:documentation>
        <wsdl:port binding="typens:DocumentImportBinding" name="DocumentImportPortType">
            <soap:address location="https://s1-eu.ariba.com/Sourcing/soap/bp/DocumentImport"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
